
OPERAÇÕES MATEMÁTICAS COM MÉTODOS - CSHARP project/obj/CSHARP project.csproj.nuget.dgspec.json
OPERAÇÕES MATEMÁTICAS COM MÉTODOS - CSHARP project/obj/CSHARP project.csproj.nuget.dgspec.json
OPERAÇÕES MATEMÁTICAS COM MÉTODOS - CSHARP project/obj/CSHARP project.csproj.nuget.dgspec.json
OPERAÇÕES MATEMÁTICAS COM MÉTODOS - CSHARP project/obj/project.nuget.cache
OPERAÇÕES MATEMÁTICAS COM MÉTODOS - CSHARP project/obj/CSHARP project.csproj.nuget.g.props
OPERAÇÕES MATEMÁTICAS COM MÉTODOS - CSHARP project/obj/Debug/net7.0/CSHARP project.assets.cache
OPERAÇÕES MATEMÁTICAS COM MÉTODOS - CSHARP project/obj/Debug/net7.0/CSHARP project.csproj.AssemblyReference.cache
OPERAÇÕES MATEMÁTICAS COM MÉTODOS - CSHARP project/obj/Debug/net7.0/CSHARP project.GeneratedMSBuildEditorConfig.editorconfig
OPERAÇÕES MATEMÁTICAS COM MÉTODOS - CSHARP project/obj/project.assets.json
